.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main,.container,.container1 {
  width: 100%;
}
.container1 {
  height: 100vh;
  display: flex;
  background: linear-gradient(90deg, #2193b0, #6dd5ed);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.text {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.text,.text1 {
  color: #ffffff;
  text-align: center;
  font-family: Cabin;
}
.text1 {
  font-size: 24px;
  margin-bottom: 32px;
}
.container2 {
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: #2968c5ff;
}
.text2 {
  color: #ffffff;
  font-size: 20px;
  font-family: Cabin;
}
