.main,.i-phone-14-pro {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.i-phone-14-pro {
  height: auto;
  padding: 68px 0 0;
  flex-shrink: 0;
  background-color: rgba(1, 1, 1, 1);
}
.frame-5 {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text {
  font-size: 56px;
}
.text,.text1 {
  color: rgba(238, 238, 238, 1);
  height: auto;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text1 {
  font-size: 26px;
}
.learn-order {
  gap: 42px;
  display: flex;
  align-items: flex-start;
}
.frame-6 {
  display: flex;
  align-items: center;
}
.text2 {
  color: rgba(41, 151, 255, 1);
  width: 106px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vuesaxlineararrowright {
  position: relative;
  flex-shrink: 0;
}
.vuesaxlineararrowright,.vuesaxlineararrowright1 {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: flex-start;
}
.vuesaxlineararrowright1 {
  top: 0px;
  left: 0px;
  position: absolute;
  flex-shrink: 1;
}
.frame-7 {
  display: flex;
  align-items: center;
}
.text3 {
  color: rgba(41, 151, 255, 1);
  width: 91px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: SF Pro Text;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vuesaxlineararrowright2 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.vuesaxlineararrowright3,.arrowright {
  top: 0px;
  left: 0px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
}
.vuesaxlineararrowright3,.arrowright,.vector {
  width: 16px;
  height: 16px;
  position: absolute;
}
.vector {
  top: 16px;
  left: 16px;
  opacity: 0.00;
}
.heroiphone-14-propreordercc-1-jjc-6-hq-7-malargetall-2-x {
  width: 600px;
  height: 459px;
}
