.new-ai-component-1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container1 {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background: linear-gradient(to right, purple, orange);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.text {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
